In [1]:
import numpy as np

In [53]:
f=open('./day10/input.txt','r')
lines = f.readlines()
f.close()

In [54]:
import numpy as np
nums = np.genfromtxt('./day10/input.txt',dtype='int')

In [55]:
max(nums)+3

151

In [56]:
power = nums.tolist()

In [57]:
t= (np.sort(nums)- np.roll(np.sort(nums),1))[1:]
(t==3).sum()*(t==1).sum()

1782

In [58]:
#not 1782

In [59]:
left = sorted(power)

In [79]:
tally1 = 0
tally3 = 0
left = sorted(power)
left.append(max(left)+3)
left.append(0)
left.sort()
for i,l in enumerate(left):
    #print(left[i+1]-l)
    if i<len(left)-1:
        diff = left[i+1]-l
        if diff ==1:
            tally1+=1
        elif diff == 3:
            tally3+=1

print(tally3*tally1)

1876

In [90]:
store = np.zeros(shape=len(left))
store[-1]=1
for i in range(len(left)-2,-1,-1):
    total=0
    for j in range(i+1,len(left)):
        if 0<left[j]-left[i] and left[j]-left[i]<=3:
            total+=store[j]
        else:
            break
    store[i]=total
store.astype(int)

array([14173478093824,  7086739046912,  3543369523456,  3543369523456,
        3543369523456,  3543369523456,  3543369523456,  1771684761728,
         885842380864,   885842380864,   885842380864,   506195646208,
         253097823104,   126548911552,   126548911552,   126548911552,
          72313663744,    36156831872,    18078415936,    18078415936,
          18078415936,    10330523392,     5165261696,     2582630848,
           2582630848,     2582630848,     1475789056,      737894528,
            368947264,      368947264,      368947264,      368947264,
            368947264,      368947264,      184473632,      184473632,
            184473632,      184473632,      105413504,       52706752,
             26353376,       26353376,       26353376,       15059072,
              7529536,        3764768,        3764768,        3764768,
              2151296,        1075648,         537824,         537824,
               537824,         537824,         537824,         537824,
               268912,         134456,         134456,         134456,
                67228,          33614,          33614,          33614,
                19208,           9604,           4802,           4802,
                 4802,           2744,           1372,            686,
                  686,            686,            686,            686,
                  343,            343,            343,            196,
                   98,             49,             49,             49,
                   28,             14,              7,              7,
                    7,              7,              4,              2,
                    1,              1,              1,              1])